body {
    font-family: "Open Sans", "Source Sans Pro", Sans-Serif;
    font-size: 1.2em;
    color:#c1dff0;	      
}

table {
    border:none;
    table-layout:fixed;
}

input.cell {
    width:100%;
    font-size: 0.9em;
}

a {
    text-decoration:none;
}

a:link {
    color:#e9c46a
}

a:visited {
    color:#b370b0
}

a:active, a:hover {
    color:#f25f5c
}
