<!DOCTYPE html>
<html>

  <head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>

  <body background="../static/footer_lodyas.png">
    <h2 align="center">Login</h2>
    
    {% if empty_field %}
    <p align="center">Username and/or password fields can't be empty</p>
    {% endif %}

    {% if user_exists %}
    <p align="center">The username {{ user }} already exists</p>
    {% endif %}

    {% if user_created %}
    <p align="center">Your account has been created</p>
    {% endif %}

    <form action="/authenticate/" method="POST">
      <table align="center" style="table-layout:fixed">
	<tr>
	  <td>Username:</td>
	  <td><input type="text" name="user"></td>
	</tr>
	<tr>
	  <td>Password:</td>
	  <td><input type="password" name="password"></td>
	</tr>
	<tr>
	  <td align="center">
	    <input type="submit" name="register" value="Register" >
	  </td>
	  <td align="center">
	    <input type="submit" name="login" value="Login" >
	  </td>	  
	</tr>

      </table>
      
    </form>
  </body>

</html>
